DB_URI=mongodb://localhost/peerSMS
SECRET_KEY=secureSecretKey12345
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_NUMBERS=["+17197197191", "+17197197191"]
NUMBER_ROTATION_STRATEGY=rotateEveryXMessages
NUMBER_ROTATION_INTERVAL=10